/* --- МОЇ КАСТОМНІ ГЛОБАЛЬНІ СТИЛІ --- */
.button,
.shopify-challenge__button,
.customer button,
.shopify-payment-button__button--unbranded {
  text-transform: uppercase;
}

button.button.button--secondary.quick-add__submit,
button.button.button--secondary.quick-add__submit::after {
  --buttons-border-width: 1px;
}

/*Flexbox for the custom section*/
.custom-flex-header{
display: flex;
justify-content: space-between;
align-items: center;
gap:2rem
}