/* --- МОЇ КАСТОМНІ ГЛОБАЛЬНІ СТИЛІ --- */
.button,
.shopify-challenge__button,
.customer button,
.shopify-payment-button__button--unbranded {
  text-transform: uppercase;
}

button.button.button--secondary.quick-add__submit,
button.button.button--secondary.quick-add__submit::after {
  --buttons-border-width: 1px;
}

/*Flexbox for the custom card product section*/
.custom-flex-header{
display: flex;
justify-content: space-between;
align-items: center;
gap:2rem
}

.custom-view-all-link{
  display: inline-flex;
  align-items: center;
  gap: 0.8rem;
  text-decoration: none;
  color: #C3F400;
  text-transform: uppercase;
  }

.custom-view-all-link svg {
  width: 1.6rem;
  height: 1.6rem;
  transition: transform 0.3s ease;
  flex-shrink:0;
}

.custom-view-all-link:hover svg {
  transform: translateX(4px);
}

/* custom collection bades for products in section latest products */
.custom-collection-badge{
  position: absolute;
  top: 1.6rem;
  left: 1.6rem;
  z-index: 2;
  font-size: 1.6rem;
  line-height: 1.5;
  text-transform: uppercase;
  padding: 0.4rem 0.8rem;
  color: #fff;
}
/* individual color for every collection */
.badge--protein { 
  background-color: #C3F400; 
  color: #161E00;
}
.badge--creatine { 
  background-color: #3F3F46;
}
.badge--pre-workout { 
  background-color: #FF5625; 
  color: #541100; 
}
.badge--vitamins { 
  background-color: #3F3F46;
}
.badge--equipment { 
  background-color: #FF5625; 
  color: #541100; 
}

/* global h1 headings styles for all pages except home page */
body:not(.template-index) main .title,
body:not(.template-index) main .main-page-title,
body:not(.template-index) main h1.page-title,
body:not(.template-index) main .cart__title {
  text-transform: uppercase;
  font-size: 3.5rem;
  margin-bottom: 0;
}


@media screen and (max-width: 749px) {
  body:not(.template-index) main .title,
  body:not(.template-index) main .main-page-title,
  body:not(.template-index) main h1.page-title,
  body:not(.template-index) main .cart__title {
    font-size: 2.5rem;
  }
}