/* --- МОЇ КАСТОМНІ ГЛОБАЛЬНІ СТИЛІ --- */
.button,
.shopify-challenge__button,
.customer button,
.shopify-payment-button__button--unbranded {
  text-transform: uppercase;
}

button.button.button--secondary.quick-add__submit,
button.button.button--secondary.quick-add__submit::after {
  --buttons-border-width: 1px;
}

/*Flexbox for the custom section*/
.custom-flex-header{
display: flex;
justify-content: space-between;
align-items: center;
gap:2rem
}

.custom-view-all-link{
  display: inline-flex;
  align-items: center;
  gap: 0.8rem;
  text-decoration: none;
  color: #C3F400;
  text-transform: uppercase;
  }

.custom-view-all-link svg {
  width: 1.6rem;
  height: 1.6rem;
  transition: transform 0.3s ease;
  flex-shrink:0;
}

.custom-view-all-link:hover svg {
  transform: translateX(4px);
}